@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-display: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-display);
}

main {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    /*text-align: center;*/
    margin-top: 30px;
    margin-left: 125px;
}

 a {
    text-decoration: none;
    color: inherit; 
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

footer {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--font-display);
    margin: 25px 0px 25px 0px;
    font-style: italic;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/*layout1 styling*/

.main-btn button {
    border: none;
    border-radius: 10px;
    background-color: #2c5755;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-display);
    margin: 40px 0px 20px 0px;
    filter: brightness(0.95);
    transition: 0.6s ease-in-out;
}

.main:hover {
    background-color: #2c5755;
    color: white;
    filter: brightness(1.00);
    transform: scale(1.01);
}

.container1 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}




/*layout 2 styling*/
.ferrari-btn button {
    border: none;
    border-radius: 10px;
    background-color: #730414;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-display);
    margin: 40px 0px 20px 0px;
    filter: brightness(0.95);
    transition: 0.6s ease-in-out;
}

.ferrari:hover {
    background-color: #730414;
    color: #ECF3F5;
    filter: brightness(1.00);
    transform: scale(1.01);
}

.container2 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}

.wide1 {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.wide2 {
    grid-column: span 2;
}

/*layout3 styling*/

.williams-btn button {
    border: none;
    border-radius: 10px;
    background-color: #001679;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-display);
    margin: 40px 0px 20px 0px;
    filter: brightness(0.95);
    transition: 0.6s ease-in-out;
}

.williams:hover {
    background-color: #001679;
    color: #ECF3F5;
    filter: brightness(1.00);
    transform: scale(1.01);
}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}


.edge {
    grid-column-start: 4;
}

.second {
    grid-column-start: 2;
}

/* layout 4 styling*/
.mercedes-btn button {
    border: none;
    border-radius: 10px;
    background-color: #0a0c10;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-display);
    margin: 40px 0px 20px 0px;
    filter: brightness(0.95);
    transition: 0.6s ease-in-out;
}

.mercedes:hover {
    background-color: #0a0c10;
    color: white;
    filter: brightness(1.00);
    transform: scale(1.01);
}

.merc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 25px;*/
    margin-left: -50px;
}

.left-container {
    display: grid;
    border-right: 1px solid black;
    padding-right: 20px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    /*margin-top: 15px;*/
}

.item1 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.item3 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.item4 {
    grid-column-start: 3;
    grid-row-start: 4;
}


.divider {
  width: 2px;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}


.right-container {
    grid-column-start: 2;
    grid-row-end: -2;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    /*margin-top: 15px;*/
    margin-left: 20px;
}

.item5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.item6 {
    grid-row-start: 3;
}

.item7 {
    grid-row-start: 4;
    grid-column-start: 2;
}




